// COLORES

$background-primary: #030201;
$background-secondary: #efdfd0;

$color-primary: #efdfd0;
$color-secondary: #030201;
$color-disabled: #968f88;
$color-accent: #ffffff;

// TAMAÑOS

$font-xxl: 83px;
$font-xl: 55px;
$font-lg: 34px;
$font-md: 21px;
$font-sm: 13px;