.nav__menu {

    li {
        background-color: $background-primary;
        color: $color-primary;
        padding: 1vw;
        display: inline-block;
        font-size: 1rem;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        position: relative;

        a {
            text-decoration: none;
            color: $color-primary;
        }
    }
}