.carousel-inner a {
    text-decoration: none;
    color: #efdfd0;
    text-transform: uppercase;
    font-weight: bold;
}

.carousel .carousel-item {
    height: 334px;

    img {
        position: absolute;
        object-fit: cover;
        top: 0;
        left: 0;
        width: 576px;
    }
}

.youtube {
    grid-area: youtube;

    iframe {
        width: 100%;
    }
}


#bio {
    grid-area: bio;
    margin-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: justify;

    ul {
        list-style: none;
        font-size: $font-sm ;
        text-indent: 15px;
        text-align: justify;
    }


}

#news {
    grid-area: news;
    margin-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: justify;
    border-left: solid $color-primary;
    border-right: solid $color-primary;


    p {
        margin-bottom: 2rem;
    }
}

#twitter {
    grid-area: twitter;

    .twitter-timeline {
        height: fit-content;
        width: fit-content;
    }
}